.ui.footer{
height:50px;
margin-top:-40px;
margin-bottom:0px;
}

input.prompt{
    height:35px;
    font-size:15px;
}

#results{
    margin-left: 27%;
    font-size:15px;
}

.ui.search > .results .result .title{
    font-weight:lighter !important;
}