.ui.footer{
height:50px;
margin-top:-40px;
margin-bottom:0px;
}

input.prompt{
    height:35px;
    font-size:15px;
}

#results{
    margin-left: 27%;
    font-size:15px;
}

.ui.search > .results .result .title{
    font-weight:lighter !important;
}

#menu{
    position:fixed;
    display:block;
    top:50px;
    right:0px;
    z-index:100;
    background-color:#000e1c;
    padding: 10px 10px 15px 10px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

