<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Monitoring tool for Sourcing Assistance Projects - Architrave</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='semantic.min.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='moment.min.js') }}"></script>
    <link rel="icon" href="https://www.architrave.de/res/uploads/2019/01/favicon.png" type="image/png">
</head>
<body>


<div class="ui stackable grid" style="min-height:100% !important;">
  <div class="ui container" >
      <a href="{{url_for('index')}}" class="ui center aligned basic segment">
          <img class="ui centered image" src="{{ url_for('static', filename='images/logo.png') }}" width="600px" alt="">
      </a>

      {% block header %}
      {% endblock %}

      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}

      <div class="ui center aligned basic segment">
            <div class="ui search">
              <div class="ui icon input">
                <input type="text" class="prompt" name="prompt" size="50" placeholder="Search a project...">
                <i class="search large icon"></i>
              </div>
              <div class="results" id="results"></div>
            </div>
       </div>
      {% block content %}
      {% endblock %}
      </div>
</div>
<footer class="ui footer center aligned secondary basic segment"> © Copyright Data Science Team 2019
</footer>

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='semantic.min.js') }}"></script>

{% block scripts %}
{% endblock %}
<script type="text/javascript">
            $( document ).ready(function() {
              var content = [
                {% for project in projects %}
                    {
                        'title':'{{project.proj_id}}',
                        'url':'{{url_for('index')}}project/{{project.proj_id}}'
                    },
                {% endfor %}
              ];
              $('.ui.search')
                  .search({
                    source: content
                  })
              ;
            });
        </script>
</body>
</html>