{% extends 'base.html' %}

{% block header %}
  <h1 class="ui horizontal divider header">Monitoring Sourcing Assistant's Projects</h1>
{% endblock %}

{% block content %}

        <h2 class="ui center aligned horizontal divider header"><i class="cogs teal icon"></i> Latest Projects in the Pipeline</h2>
<br>
     <table class="ui selectable celled table">
      <thead>
        <tr>
          <th>Job ID</th>
          <th>Project Name</th>
          <th>Number of Documents</th>
          <th>Project Status</th>
          <th>Created at</th>
        </tr>
      </thead>

      <tbody>
      {% for info in details %}
        <tr>
          <td>{{info.job_id}}</td>
          <td><a href="{{url_for('index')}}project/{{info.proj_id}}">{{info.proj_id}}</a></td>
          <td>{{info.num_docs}}</td>

          {% if info.proj_status == 'Started' %}
            <td class="warning"><i class="play small orange icon"></i> {{info.proj_status}}</td>
          {% elif info.proj_status == 'Error' %}
            <td class="negative"><i class="times red icon"></i>{{info.proj_status}}</td>
          {% elif info.proj_status == 'Finished' %}
            <td class="positive"><i class="check green icon"></i>{{info.proj_status}}</td>
          {% endif %}

          <td>{{info.created_at}}</td>
        </tr>
      {% endfor %}
        </tbody>
    </table>



{% endblock %}
