{% extends 'base.html' %}

{% block header %}
  <h1 class="ui horizontal divider header">Monitoring Sourcing Assistant's Projects</h1>
{% endblock %}

{% block content %}
    {% if msg %}
        <div class="ui success message">
           {{msg}}
        </div>
    {% endif %}
        <h2 class="ui center aligned horizontal divider header"><i class="cogs teal icon"></i> Latest Projects in the Pipeline</h2>
<br>
     <table class="ui selectable celled table">
      <thead>
        <tr>
          <th>Job ID</th>
          <th>Project Name</th>
          <th>Number of Documents</th>
          <th>Project Status</th>
          <th>Created at</th>
        </tr>
      </thead>

      <tbody>
      {% for info in details %}
        <tr>
          <td>{{info.job_id}}</td>
          <td><a href="{{url_for('index')}}project/{{info.proj_id}}">{{info.proj_id}}</a></td>
          <td>{{info.num_docs}}</td>

          {% if info.proj_status == 'Started' or info.proj_status == 'Running'%}
            <td class="warning"><i class="play small orange icon"></i> {{info.proj_status}}</td>
          {% elif info.proj_status == 'Error' %}
            <td class="negative"><i class="times red icon"></i>{{info.proj_status}}</td>
          {% elif info.proj_status == 'Finished' %}
            <td class="positive"><i class="check green icon"></i>{{info.proj_status}}</td>
          {% else %}
            <td>{{info.proj_status}}</td>
          {% endif %}

          <td>
            <div data-tooltip="{{info.created_at}}">
                <span id="proj_created_at_{{info.job_id}}"></span>
            </div>

          </td>
        </tr>
      {% endfor %}
        </tbody>
    </table>



{% endblock %}


{% block scripts %}
        <script type="text/javascript">
            $( document ).ready(function() {
            {% for info in details %}
                var proj_created_at = moment('{{info.created_at}}').fromNow();
                document.getElementById("proj_created_at_{{info.job_id}}").innerHTML = proj_created_at;
            {% endfor %}
            });
        </script>
{% endblock %}

