{% extends 'base.html' %}

{% block header %}
  <h1 class="ui horizontal divider header">Monitoring Sourcing Assistant's Projects</h1>
{% endblock %}

{% block content %}
        <h2 class="ui center aligned horizontal divider header"> Project Details for {{details.proj_id}}</h2>
        <br><br>
        <div class="ui three column stackable center aligned grid">
            <div class="column">
                Project Status:
                {% if details.proj_status=='Started' or details.proj_status=='Running' %}
                <div class="ui yellow big label" style="color:#000000 !important;"><i class="right angle icon"></i>{{details.proj_status}}</div>
                {% elif details.proj_status=='Finished' %}
                <div class="ui green big label"><i class="check icon"></i>{{details.proj_status}}</div>
                {% elif details.proj_status=='Error'%}
                <div class="ui red big label"><i class="times icon"></i>{{details.proj_status}}</div>
                {% else %}
                <div class="ui big label">{{details.proj_status}}</div>
                {% endif %}
            </div>
            <div class="column">
                Total Number of Documents: <div class="ui big label">{{details.num_docs}}</div>
            </div>
            <div class="column">
                Created at: <div id="proj_created_at" class="ui big label"></div>
            </div>

        </div>
        <br><br>
        <table class="ui selectable celled stackable table">
          <thead>
            <tr>
              <th>Pipeline Stage</th>
              <th>Passed files</th>
              <th>Failed files</th>
              <th>Started at</th>
              <th>Last Update</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for info in details.pipe_details %}
                <tr>
                    <td> {{ info.stage_name }} </td>
                    <td class="positive"> {{ info.num_docs_pass }} </td>
                    <td class="negative"> {{info.num_docs_fail }} </td>
                    <td id="start_date_{{loop.index}}" data-tooltip="{{info.started_at}}"> </td>
                    <td id="update_date_{{loop.index}}" data-tooltip="{{info.updated_at}}"> </td>

                    {% if info.status=='Started' or info.status=='Running' %}
                    <td class="warning" style="color:#000000 !important;"><i class="play small  icon"></i> {{info.status}}</td>
                    {% elif info.status=='Finished' %}
                    <td class="positive"><i class="check icon"></i>{{info.status}}</td>
                    {% elif info.status=='Failed' or info.status=='Error' %}
                    <td class="negative"><i class="times icon"></i>{{info.status}}</td>
                    {% else %}
                    <td>{{info.status}}</td>
                    {% endif %}
                </tr>
            {% endfor %}
          </tbody>
        </table>


{% endblock %}

{% block scripts %}
        <script type="text/javascript">
            $( document ).ready(function() {
                var proj_created_at = moment('{{details.created_at}}').fromNow();
                document.getElementById("proj_created_at").innerHTML = proj_created_at;
                {% for info in details.pipe_details %}
                    var start_date = moment('{{info.started_at}}').fromNow();
                    document.getElementById("start_date_{{loop.index}}").innerHTML = start_date;
                    var update_date = moment('{{info.updated_at}}').fromNow();
                    document.getElementById("update_date_{{loop.index}}").innerHTML = update_date;
                {% endfor %}
            });

        </script>
{% endblock %}

